@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Oleo+Script:wght@400;700&family=Sigmar+One&display=swap');

*{ margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url(https://images.pexels.com/photos/269583/pexels-photo-269583.jpeg?_gl=1*1enyt7k*_ga*MTY4Njc1ODA0MC4xNzQ1MTI0MjQ4*_ga_8JE65Q40S6*czE3NTA0MDIxMjMkbzEwJGcxJHQxNzUwNDAyMTI4JGo1NSRsMCRoMA..);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-list-second button {
  border: none;
  background: none;
}

.nav-bar img {
  width: 70px;
  height: 70px;
  margin: 10px 60px;
  transition: transform 0.5s;
}
.nav-bar img:hover {
  transform: scale(1.1);
}

.nav-bar p {
  font-size: 2.5rem;
  position: absolute;
  margin-top: 15px;
    padding: 5px;
  margin-left: 145px;
   font-family: "Sigmar One", sans-serif;
  font-weight: 400;
  font-style: italic;  text-transform: uppercase;
  animation-name: gradient;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes gradient {
  from { color: #fdfdfd;}
  to { color: #FD6600;}
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0,0.9);
}

.nav-list {
  position: relative;
  right: 30px;
}

.nav-list li {
  font-size: 1.2rem;
  display: inline-block;
  justify-content: space-between;
  margin: 20px 10px;
  padding: 15px;
  border-bottom: 3px solid #D0F0C0;
  transition: all 0.5s ;
}
.nav-list li:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 30px 8px 30px 8px;

}

.nav-list a , .nav-list-second a {
  text-decoration: none;
  color: inherit;
  color: white;  font-style: italic;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 50px 0;
}


.first span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  line-height: 1.7;
  margin: 10px 500px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);  width: 100%;
  color: rgb(0, 0, 0);
}

.first span h2 {
  font-size: 1.4rem;
}


.first span h1 {
  font-size: 2.3rem;
    font-weight: 900;

}

.first img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.empty {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-left: 30px;
  background-image: linear-gradient(45deg, #43ced6 , #d2e43a 50%, #93ec10 100%); 
  background-clip: text; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question span {
    background-color: rgba(255, 255, 255, 0.4);
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);  width: 100%;
    padding: 20px;
    border-radius: 20px;
    margin: 30px 20px;
    height: 280px;
    transition: transform 0.5s;
}


.question span:hover {
  transform: translateY(-15px);
  box-shadow: 3px 3px 20px lightblue;
}

.question span i , .question span h2, .question p{
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
  text-transform: uppercase;
}

.question span i {
  font-size: 2.5rem;
  transition: all 0.5s;
  
}

.question span:hover i {
  transform: scale(1.1);
}

.question span h2 {
  font-size: 1.3rem;
  font-weight: 900;
  margin: 10px 0 20px 0;
}

.question span p {
  font-weight: 600;
}
.second {
   display: flex;
  justify-content: center;
}

.second span {
  background-color: rgba(255, 255, 255, 0.4);
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);  width: 100%;
    padding: 20px;
    border-radius: 20px;
    margin: 30px 20px;
    line-height: 2;
}

.second span h3 {
  font-size: 1.7rem;
  font-weight: 800;
}

.second span p {
  font-weight: 600;
}

.second span a {
  color: inherit;
  text-decoration: none;
}
.second span i {
  font-size: 2.3rem;
  margin-top: 20px;
  margin-left: 20px;
  transition: all 0.5s;
}

.second span i:hover {
  transform: translateY(-10px);
  color: lightblue;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
background-color: rgba(255, 255, 255, 0.4);
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);  width: 100%;
  padding: 50px 0;
  cursor: pointer;
}

.footer-column h3:hover, .footer-links  li a:hover,
.footer-links li:hover {
  color: lightblue;
}

.footer-column h3 {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin-bottom: 1.5rem;
  position: relative;
  padding-bottom: 0.5rem;
  transition: color 0.5s;
}

.footer-column p {
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.footer-links {
  list-style: none;
}

.footer-links li {
  margin: 0.7rem;
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  font-weight: 600;
  transition: color 0.5s;
}

#foot {
  margin-right: 20px;
  font-size: 1.7rem;
  color: rgb(0, 0, 0);
}
.footer-links a {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.5s;
  
}

.footer-bottom p {
  background-image: linear-gradient(45deg, #43ced6 , #d2e43a 50%, #93ec10 100%); 
  background-clip: text; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1200px) {

    .nav-bar p {
    font-size: 2.2rem;
    left: -100px;
  }

  .first span {
    margin: 10px 100px;
    padding: 15px;
  }

  .question {
    flex-wrap: wrap;
    justify-content: center;
  }

  .question span {
    flex: 1 1 40%;
    margin: 15px;
    height: auto;
  }

  .footer-content {
    flex-wrap: wrap;
    text-align: center;
  }

  .footer-column {
    flex: 1 1 45%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
  }

  .nav-bar a img {
    width: 80px;
    height: 80px;
    margin-right: 50px;
  }

  .nav-bar p {
    position: static;
    margin: 10px 0;
    text-align: center;
    font-size: 1.6rem;
  }

  .nav-list {
    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-list li {
    font-size: 18px;
    padding: 10px;
    margin: 10px 5px;
  }
  
  .first {
    flex-direction: column;
    margin: 20px 0;
  }

  .first span {
    margin: 10px;
    text-align: center;
  }

  .question {
    flex-direction: column;
  }

  .question span {
    margin: 15px 0;
  }

  .second {
    flex-direction: column;
    margin-left: -10px;
    width: 90%;
  }

  .footer-content {
    flex-direction: column;
    padding: 20px;
  }

  .footer-column {
    margin-bottom: 20px;
  }
}

