@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Oleo+Script:wght@400;700&family=Sigmar+One&display=swap');

*{ margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url(https://images.pexels.com/photos/269583/pexels-photo-269583.jpeg?_gl=1*1enyt7k*_ga*MTY4Njc1ODA0MC4xNzQ1MTI0MjQ4*_ga_8JE65Q40S6*czE3NTA0MDIxMjMkbzEwJGcxJHQxNzUwNDAyMTI4JGo1NSRsMCRoMA..);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-list-second button {
  border: none;
  background: none;
}

.nav-bar img {
  width: 100px;
  height: 100px;
  margin: 10px 40px;
  transition: transform 0.5s;
}
.nav-bar img:hover {
  transform: scale(1.1);
}

.nav-bar p {
  font-size: 3rem;
  position: absolute;
  margin-top: 30px;
  margin-left: 180px;
   font-family: "Sigmar One", sans-serif;
  font-weight: 400;
  font-style: normal;  text-transform: uppercase;
  animation-name: gradient;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes gradient {
  from { color: #fdfdfd;}
  to { color: #FD6600;}
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0,0.9);
  height: 100%;
  margin-bottom: 10px;
}

.nav-list {
  position: relative;
  right: 30px;
}

.nav-list li {
  font-size: 27px;
  display: inline-block;
  justify-content: space-between;
  margin: 20px 10px;
  padding: 20px;
  border-bottom: 3px solid #D0F0C0;
  transition: all 0.5s ;
}
.nav-list li:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 30px 8px 30px 8px;

}

.nav-list a , .nav-list-second a {
  text-decoration: none;
  color: inherit;
  color: white;
}  

.login-box h1 {
  text-align: center;
  padding: 15px;
}

.login-box h1 {
  cursor: pointer;
  transition: color 0.5s;
  font-size: 3.2rem;
 color: white;
  font-weight: 900;
  text-align: center;
}

.login-box h1:hover {
  color: rgb(0, 0, 0);
}

.login-box {
  width: 400px;
  height: 450px;
  position: relative;
  left: 50%;
  right: 50%;
  top: 300px;
  transform: translate(-50%,-50%);
 background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 10px;
  border: 2px solid black;
  box-shadow: 5px 5px 20px 5px;
  
}

#icon1 , #icon2  {
  margin-right: 20px;
  font-size: 40px;
   background-image: linear-gradient(45deg, #43ced6, #d2e43a 50%, #93ec10 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px 15px 0px 0px;
}

.input-info input {
  width: 270px;
  height: 50px;
  padding: 10px;
  color: lightblue;
  font-weight: 100;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.5s;
}

.input-info input:hover {
  background-color: rgb(103, 103, 103,0.5);
}

.nav-list a , .nav-list-second a {
  text-decoration: none;
  color: inherit;
  color: white;
} 

.login-box p {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: 600;
  cursor: pointer;
  font-size: 23px;
  transition: color 0.5s;
  color:  rgb(255, 255, 255);
}

.login-box p:hover {
  color:  rgb(0, 0, 0);
}

.login-box p a {
  text-decoration: none;
  color:  rgb(255, 255, 255);
  transition: color 0.5s;
}

.login-box p a:hover {
  color: rgb(0, 0, 0);
}

/*.login-box .next {
  position: absolute;
  margin-left: 300px;
  margin-top: 45px;
  cursor: pointer;
  text-decoration: underline;
}*/

.click {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.click button {
  height: 50px;
  width: 90px;
  padding: 5px;
  font-size: 25px;
  color: white;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s;
}

.click button a {
  text-decoration: none;
  
  color:  white;
  font-size: 23px;
  transition: color 0.5s;
}

.click button:hover {
  color: rgb(0, 0, 0);
}

.click button:hover {
  background-color: rgb(103, 103, 103,0.5);
}

@media (max-width: 1200px) {
  .nav-bar p {
    font-size: 2.2rem;
    left: -100px;
  }

  .search {
    left: 300px;
    width: 200px;
  }

  .login-box {
    top: 250px;
    width: 350px;
  }
}

@media (max-width: 768px) {
    .nav-bar {
    flex-direction: column;
    align-items: center;
  }

  .nav-bar p {
    position: static;
    margin: 10px 0;
    text-align: center;
  }

  .nav-list {
    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-list li {
    font-size: 18px;
    padding: 10px;
    margin: 10px 5px;
  }
  
  .login-box {
    width: 85%;
    top: 250px;
    height: auto;
    padding: 20px;
    align-items: center
  }

  .input-info input {
    width: 100%;
    font-size: 16px;
  }

  .click button {
    width: 100%;
    font-size: 18px;
  }
}
